<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .wrapper
        mixin inputs(number,change,type_ver,type_hor,max,min,step,value,showScale,hideScale,showValue,hideValue,interval,alone)
            .wrapper_input
                label= number 
                <br>
                    input(type="text" id= change)
                    <br>
                    input(type="radio" name=type_hor id= type_ver)
                    | Вертикальное положение
                    input(type="radio" name=type_hor id= type_hor checked)
                    | Горизонтальное положение <br>
                    label max значение <br>
                        input(type="text" id= max)
                        <br>
                    label min значение <br>
                        input(type="text" id= min)
                        <br>
                    label шаг слайдера <br>
                        input(type="text" id= step)
                        <br>
                    input(type="radio" name=showScale id= showScale checked)
                    | Показать шкалу
                    input(type="radio" name=showScale id= hideScale)
                    | Скрыть шкалу <br>
                    input(type="radio" name=showValue id= showValue checked)
                    | Показать бегунок
                    input(type="radio" name=showValue id= hideValue)
                    | Скрыть бегунок  <br>
                    input(type="radio" name=alone id= alone checked)
                    | Одиночный слайдер
                    input(type="radio" name=alone id= interval)
                    | Интервал  <br>
        .wrapper_inputs
            +inputs('Значение 1 слайдера','changeValue_1','ver_1','hor_1','max_1','min_1','step_1','value_1','showScale_1','hideScale_1','showValue_1','hideValue_1','interval_1','alone_1')
            +inputs('Значение 2 слайдера','changeValue_2','ver_2','hor_2','max_2','min_2','step_2','value_2','showScale_2','hideScale_2','showValue_2','hideValue_2','interval_2','alone_2')
            +inputs('Знчение 3 слайдера','changeValue_3','ver_3','hor_3','max_3','min_3','step_3','value_3','showScale_3','hideScale_3','showValue_3','hideValue_3','interval_3','alone_3')